@model PhoneStore.ViewModel.changepasswordviewmodel

@{
    ViewData["Title"] = "changepassword";
}

<h1 id="hello">changepassword</h1>

<h4 id="hello1" style="display:none;" >You Are Sure ?</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="changepassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComfirmPassword" class="control-label"></label>
                <input asp-for="ComfirmPassword" class="form-control" />
                <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="details">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $('#hello').click(function () { 
        
                $('#hello1').toggle();

        });
        window.onload = function () 
        {
            $('#CurrentPassword').focus();
        }

    </script>
}
